/* 全局样式 */
html,
body {
    height: 100%;
    color: #333;
    background: #fff;
}

h1,
h2,
h3,
p,
ul,
dd {
  margin: 0;
  padding:0;
}

ul,li {    
    list-style: none;
}

* {
    /* touch-action: pan-y;和 touch-action: none; 是解决 触碰轮播图-> 就警告 的问题的，二者选其一就可以*/   
    touch-action: pan-y;
    /* touch-action: none; */
    box-sizing: border-box; 
}


